<h1>Welcome to Caesars Cipher</h1>
<p>Type some words below</p>
<form action='/shift' method="GET">
    <input type='text' name='text' placeholder="Enter some text" value='<%= text %>'>
    <input tytpe='text' name='factor' placeholder="Enter a number" value='<%= shift_f %>'>
    <input type='submit' value="Go">
    <%if ciphered %>
    <input type='submit' formaction='/' value='Clear'>
    <% end %>
</form>

<% if ciphered %>
    <h2>
        <%= ciphered %>
    </h2>
<% end %>