<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <title>Idea Box</title>
    </head>
    <body>
        <p>Default Header</p>
        <%= yield %>
        <p>Default Footer</p>
    </body>
</html>